@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html, body, .root {
  background-color: #bfbfbf;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}


:focus{
   outline: none;
 }

 .no-select {
  user-select: none;
  -moz-user-select : none;
  -webkit-user-select : none;
  -ms-user-select : none;
 }

